.container__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.modal {
    background-color: rgb(233, 210, 210);
    color: black;
    border-radius: 5px;
    padding: 16px;
    width: 300px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    margin-top: 20px;
}

.closeButton {
    background-color: #ed3330;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
}